<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886230581067-jcv06fe617ngj30n2cbr5gdde9386re4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886230581067-jcv06fe617ngj30n2cbr5gdde9386re4</string>
	<key>API_KEY</key>
	<string>AIzaSyBW56xNPfCWeILirgOtRHctvxNj5wRPo9I</string>
	<key>GCM_SENDER_ID</key>
	<string>886230581067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teacherfinder.com</string>
	<key>PROJECT_ID</key>
	<string>teacherfinderlebanon-6622c</string>
	<key>STORAGE_BUCKET</key>
	<string>teacherfinderlebanon-6622c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886230581067:ios:4c8c81146eefc31d05b2ce</string>
</dict>
</plist>